
/* 會員登入================================== */
.loginPage {
    display: none;
}

.signupPage {
    display: none;
}

.bg-loginPage {
    background: rgba(0, 0, 0, .2);
    position: fixed;
    width: 100%;
    height: 100%;
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    z-index: 15;
}

.bg-signupPage {
    background: rgba(0, 0, 0, .2);
    position: fixed;
    width: 100%;
    height: 100%;
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    z-index: 15;

}

.loginPage-frame {
    z-index: 1;
    width: 340px;
    position: absolute;
    z-index: 1;
    top: 80px;
    border-radius: 6px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 1);
    ;
}

.signupPage-frame {
    z-index: 1;
    width: 340px;
    position: absolute;
    z-index: 1;
    top: 80px;
    border-radius: 6px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 1);
    ;
}

.bar {
    width: 100%;
    height: 10px;
    background: linear-gradient(270deg, #337788 0%, #66AABB 100%);

}

.header-text {
    font-family: Noto Sans TC;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    margin: 5px;
    position: relative;
    color: rgba(102, 102, 102, 1);
    padding: 10px;


}

.close {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 20px;
    right: 0px;
    right: 20px;
}

.div-email {
    display: flex;
    justify-content: center;
}

.username {
    width: 310px;
    height: 47px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(204, 204, 204, 1);
    margin: 5px;
    background: #FFFFFF;
    /* Gray 500 */

    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 5px;

}

.div-username {
    display: flex;
    justify-content: center;
}


.email {
    width: 310px;
    height: 47px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(204, 204, 204, 1);
    margin: 5px;
    background: #FFFFFF;
    /* Gray 500 */

    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 5px;
}

.div-psd {
    display: flex;
    justify-content: center;
}

.psd {
    width: 310px;
    height: 47px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(204, 204, 204, 1);
    margin: 5px;
    background: #FFFFFF;
    /* Gray 500 */

    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 5px;
}

.div-btn-login {
    display: flex;
    justify-content: center;
}

.signup-msg {
    display: flex;
    justify-content: center;
}

.signin-msg {
    display: flex;
    justify-content: center;
}

.btn-login {
    width: 310px;
    /* Cyan 800 */
    background: #448899;
    border-radius: 5px;
    font-family: Noto Sans TC;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    margin: 5px;
    padding: 10px;
    border: none;

}

.msg {
    width: 310px;
    font-family: Noto Sans TC;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: center;
    margin: 5px;
    color: rgba(102, 102, 102, 1);
    padding: 10px;

}

/* 會員登入================================== */


/* 初始狀態 */
body {
    margin: 0px;
    padding: 0px;
}

/* 導覽列 */
.nav {
    width: 100%;
    display: flex;
    width: 100%;
    height: 54px;
    align-items: center;
    position: fixed;
    z-index: 10;
    top: 0px;

    /* White */
    background: #FFFFFF;

}

.nav .div {
    width: 1200px;
    margin: auto;
    height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.nav .text {
    margin-top: 0px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}


.nav .div .title {
    font-family: Noto Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(68, 136, 153, 1);
    padding: 10px;
    text-decoration: none;


}

.hr-1 {
    border: 1px solid rgba(232, 232, 232, 1);
    margin-top: 3px;
}

.frame2 {
    width: 175px;
    display: flex;
    justify-content: space-evenly;

}

.frame2 a {
    margin: 10px;
    font-family: Noto Sans TC;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    color: rgba(102, 102, 102, 1);
}





/* 頁尾 */
.footer {
    /* Auto Layout */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 104px;
    position: relative;
    width: 100%;
    /* Gray 700 */
    background: #757575;
}

.footer .text {
    /* Body - Bold 16(13.3) */
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 13px;
    /* identical to box height, or 83% */
    display: flex;
    align-items: center;
    /* White */
    color: #FFFFFF;
}
.footer_del {
    /* Auto Layout */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    /* Gray 700 */
    background: #757575;
}

.footer_del_text {
    /* Body - Bold 16(13.3) */
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 13px;
    /* identical to box height, or 83% */
    display: flex;
    align-items: center;
    /* White */
    color: #FFFFFF;
}

/* section */
.booking-title{
    font-family: Noto Sans TC;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: left;
    color:rgba(68, 136, 153, 1);

}

.b-c-title{
    font-family: Noto Sans TC;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(102, 102, 102, 1);
}
.b-c-content{
    font-family: Noto Sans TC;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: left;
    color:rgba(102, 102, 102, 1);


}


.field-h{
    font-family: Noto Sans TC;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
    color:rgba(102, 102, 102, 1);


}
.field input{
    height: 38px;
    width: 200px;
    left: 81px;
    top: 0px;
    border-radius: 5px;
    color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(232, 232, 232, 1)
}
.sum-price{
    font-family: Noto Sans TC;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: right;
    color: rgba(102, 102, 102, 1);


}
/* 文字資訊 */
.hr-2 {
    width: 1200px;
    border: 1px solid rgba(232, 232, 232, 1);
    margin: 20px auto;
}
.info-msg{
    font-family: Noto Sans TC;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color:rgba(102, 102, 102, 1);
    margin-top: 50px;


}




/* 裝置1200px以上 */
@media screen and (min-width:1200px) {
    .header{
        font-family: Noto Sans TC;
        font-size: 19px;
        font-style: normal;
        font-weight: 700;
        line-height: 50px;
        letter-spacing: 0em;
        text-align: left;
        color: rgba(102, 102, 102, 1);
        margin: auto;
        width: 980px;
    
    }
    .frame_scene{
        width: 980px;
        color: rgba(102, 102, 102, 1);
        font-family: Noto Sans TC;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 13px;
        letter-spacing: 0em;
        text-align: left;
        margin: auto;
    }
    .header div{
        margin-top: 90px;
    }
    .booking-frame{
        margin-left: 40px;
        
    }
    .section .del{
        width: 30px;
        height: 30px;
        position: absolute;
        top:0;
        right: 0;
        margin: 5px;
    }
    .sum{
        width: 980px;
        height: 100px;
        margin: 10px auto;
        text-align: end;
    }

    .nav .div {
        position: fixed;
        width: 1200px;
        display: flex;
        justify-content: space-between;
        margin: auto;
        align-items: center;
        height: auto;
    }



    /* 段落section */
    .section {
        width: 980px;
        height: 200px;
        margin: 30px auto;
        padding: 10px;
        display: flex;
        justify-content: start;
        position: relative;
        /* border: 1px solid; */
    }



    button {
        background-color: rgba(68, 136, 153, 1);
        width: 154px;
        height: 36px;
        border-radius: 5px;
        border: none;
        margin-top: 20px;
    }

    .btn-text {
        font-family: Noto Sans TC;
        font-size: 19px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: center;
        color:rgba(255, 255, 255, 1);


    }


    /* 段落-圖片 */
    .pic {
        width: 266px;
        height: 200px;
        justify-content: start;
        /* margin-right: 1500px; */


    }

    .pic-frame {
        height: 100%;
        display: flex;
        justify-content: center;
    }

    .attracion-pic {
        z-index: 0px;
        /* border: 1px solid; */
        height: 200px;
        width: 266px;


    }




    .info {
        width: 980px;
        height: auto;
        margin: 10px auto;
        color: rgba(102, 102, 102, 1);
        line-height: 50px;
        
    }

    p {
        padding: 10px 0px;
        font-family: Noto Sans TC;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: left;
        color: rgba(102, 102, 102, 1);

    }


}

/* 裝置360px-1200px */
@media screen and (min-width:360px) and (max-width:1200px) {
    .header{
        font-family: Noto Sans TC;
        font-size: 19px;
        font-style: normal;
        font-weight: 700;
        line-height: 50px;
        letter-spacing: 0em;
        text-align: left;
        color: rgba(102, 102, 102, 1);
    
    }
    .frame_scene{
        color: rgba(102, 102, 102, 1);
        font-family: Noto Sans TC;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 13px;
        letter-spacing: 0em;
        text-align: left;
        padding: 20px;
    }
    .header div{
        width: 95%;
        margin: 90px auto 0px;
    }
    .sum-price{
        margin-top:50px;
    }
    .sum{
        width: 95%;
        height: 100px;
        margin: 10px auto;
        text-align: end;
    }
    .booking{
        width: 95%;
        margin: 20px auto;
    }
    .section .del{
        width: 30px;
        height: 30px;
        position: absolute;
        top:600px;
        right: 10px;
        margin: 5px;
    }
    .nav .div {
        width: 98%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .frame2 {
        width: 175px;
        display: flex;
        justify-content: space-between;


    }


    /* 段落section */
    .section {
        width: 100%;
        height: auto;
        margin: 40px auto;
        display: flex;
        justify-content: center;
        position: relative;
        flex-wrap: wrap;

    }

    h2 {
        font-weight: bold;
        font-family: Noto Sans TC;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;

    }


    .content {
        font-family: Noto Sans TC;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: left;

    }

    button {
        background-color: rgba(68, 136, 153, 1);
        width: 154px;
        height: 36px;
        border-radius: 5px;
        border: none;
        margin-top: 20px;
    }

    .btn-text {
        font-family: Noto Sans TC;
        font-size: 19px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: center;
        color: rgba(255, 255, 255, 1);
        text-align: center;

    }

    /* 段落-圖片 */
    .pic {
        justify-content: center;
        width: 95%;
        height: 400px;


    }

    .pic-frame {
        height: 100%;
        display: flex;
        justify-content: center;

    }

    .attracion-pic {
        width: 100%;
        height: auto;
        object-fit: cover;
        /* border: 1px solid; */


    }


    /* 文字資訊 */
    .hr-2 {
        width: 100%;
        border: 1px solid rgba(232, 232, 232, 1);
    }

    .info {
        width: 95%;
        height: auto;
        margin: 50px auto;
        color: rgba(102, 102, 102, 1);

    }

    p {
        padding-left: 10%;
        padding-right: 10%;
        font-family: Noto Sans TC;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: left;
        color: rgba(102, 102, 102, 1);

    }

}

