
/* 會員登入================================== */
.loginPage {
    display: none;
}

.signupPage {
    display: none;
}

.bg-loginPage {
    background: rgba(0, 0, 0, .2);
    position: fixed;
    width: 100%;
    height: 100%;
    border: 1px solid;
    display: flex;
    justify-content: center;
    z-index: 15;
}
.bg-signupPage{
    background: rgba(0, 0, 0, .2);
    position: fixed;
    width: 100%;
    height: 100%;
    border: 1px solid;
    display: flex;
    justify-content: center;
    z-index: 15;

}

.loginPage-frame {
    z-index: 1;
    width: 340px;
    position: absolute;
    z-index: 1;
    top: 80px;
    border-radius: 6px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 1);
    ;
}

.signupPage-frame {
    z-index: 1;
    width: 340px;
    position: absolute;
    z-index: 1;
    top: 80px;
    border-radius: 6px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 1);
    ;
}

.bar {
    width: 100%;
    height: 10px;
    background: linear-gradient(270deg, #337788 0%, #66AABB 100%);

}

.header-text {
    font-family: Noto Sans TC;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    margin: 5px;
    position: relative;
    color: rgba(102, 102, 102, 1);
    padding: 10px;


}

.close {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 20px;
    right: 0px;
    right: 20px;
}

.div-email {
    display: flex;
    justify-content: center;
}

.username {
    width: 310px;
    height: 47px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(204, 204, 204, 1);
    margin: 5px;
    background: #FFFFFF;
    /* Gray 500 */

    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 5px;

}

.div-username {
    display: flex;
    justify-content: center;
}


.email {
    width: 310px;
    height: 47px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(204, 204, 204, 1);
    margin: 5px;
    background: #FFFFFF;
    /* Gray 500 */

    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 5px;
}

.div-psd {
    display: flex;
    justify-content: center;
}

.psd {
    width: 310px;
    height: 47px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(204, 204, 204, 1);
    margin: 5px;
    background: #FFFFFF;
    /* Gray 500 */

    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 5px;
}

.div-btn-login {
    display: flex;
    justify-content: center;
}

.signup-msg {
    display: flex;
    justify-content: center;
}

.signin-msg {
    display: flex;
    justify-content: center;
}

.btn-login {
    width: 310px;
    /* Cyan 800 */
    background: #448899;
    border-radius: 5px;
    font-family: Noto Sans TC;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    margin: 5px;
    padding: 10px;
    border: none;

}

.msg {
    width: 310px;
    font-family: Noto Sans TC;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: center;
    margin: 5px;
    color: rgba(102, 102, 102, 1);
    padding: 10px;

}

/* 會員登入================================== */


.text {
    display: block;
    margin-top: 20px;

}

body {
    border: 0px;
    margin: 0px;
}


/* 導覽列 */
.nav {
    display: flex;
    width: 100%;
    height: 54px;
    align-items: center;
    position: fixed;
    z-index: 10;

    /* White */
    background: #FFFFFF;

}

.nav .div {
    width: 1200px;
    margin: auto;
    height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.nav .text {
    margin-top: 0px;
    position: fixed;
}

.frame2 {
    width: 175px;
    display: flex;
    align-items: center;
    justify-content: end;
    position: absolute;
    right: 0;

}

.frame1 {
    /* Frame 1 */

    /* Auto Layout */
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;


}

.frame1 a {
    /* Body - Reg 16(13.3) */
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 13px;
    /* identical to box height, or 83% */
    display: flex;
    align-items: center;
    margin-left: 10px;
    padding: 3px;
    text-decoration: none;

    /* Gray 800 */
    color: #666666;

}

.div .text {
    /* 台北一日遊 */
    display: flex;
    align-items: center;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    /* identical to box height, or 113% */

    /* Cyan 800 */
    color: #448899;

}



/* 標題 */
.slogan {
    width: 320px;
    height: 100%;
    z-index: 1;
    margin-left: -3px;

}

.slogan .div {
    /* div */
    width: 320px;
    height: 78px;
    position: relative;
    top: 65px;



    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: auto;



}



.main {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    width: 70%;
    justify-content: space-between;
}


.search-desktop {
    position: relative;
    top: 25px;
    width: 300px;
    height: 46px;
    border: 2px solid #448899;
    border-radius: 5px;
    background-color: white;
    display: inline-flex;



}

.search-desktop input {
    /* White */
    background: #FFFFFF;
    width: 322px;
    height: 40px;
    border: none;
    outline: none;


}

#buttonId {
    /* btn */
    width: 60px;
    height: 48px;
    position: absolute;
    right: -1px;
    top: 0px;
    z-index: 0;
    background: #448899;
    border: none;
    border-radius: 0 2px 2px 0;
}

.input:-internal-autofill-selected {
    background-color: #fff;
}




.input-text {
    /* 輸入景點名稱查詢 */
    position: absolute;
    width: 200px;
    height: 16px;
    left: 15px;
    top: 15px;

    /* Body - Bold 16(13.3) */
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 13px;
    /* or 83% */
    display: flex;
    align-items: center;

    /* Gray 700 */
    color: #757575;


}


button .icon {
    /* icon / search */
    width: 30px;
    height: 30px;
    position: absolute;
    top: 6px;
    left: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;



}

button .icon img {
    /* icon_search */
    z-index: 2;
    position: absolute;
    width: 30px;
    height: 30px;
    left: 0px;
    top: 0px;
    margin: auto;


}

.div-slogan {
    /* slogan */
    position: relative;
    width: 100%;
    height: 78px;
    left: 0px;
    top: 0px;


}

.div-slogan .text-1 {
    /* 輕鬆享受台北一日悠閒 */

    position: absolute;
    width: 100%;
    height: 41px;
    left: 0px;
    top: 0px;

    /* Header 1 - Bold 28(24) */
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 24px;
    /* or 86% */
    display: flex;
    align-items: center;

    /* Gray 50 */
    color: #F8F8F8;

    /* Text Shadow */
    text-shadow: 0px 0px 30px #AABBCC;

}

.div-slogan .text-2 {
    /* 探索每個角落，體驗城市的深度旅遊行程 */

    position: absolute;
    width: 100%;
    height: 22px;
    left: 0px;
    top: 56px;

    /* Body - Reg 16(13.3) */
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 13px;
    /* or 83% */
    display: flex;
    align-items: center;

    /* Gray 50 */
    color: #F8F8F8;


}

/* 圖幅框 */
.hero-section {
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    z-index: -1;
    width: 100%;
    height: 280px;
    /* Light | Cyan Gradient (135deg) */
    background: linear-gradient(135deg, #AADDEE 0%, #66AABB 100%);
}



/* 頁尾 */
.footer {
    /* Auto Layout */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 104px;
    position: relative;
    width: 100%;



    /* Gray 700 */
    background: #757575;
}


.footer div .text {
    /* Body - Bold 16(13.3) */
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 13px;
    /* identical to box height, or 83% */
    display: flex;
    align-items: center;
    /* White */
    color: #FFFFFF;
}

.title {

    /* 平安鐘 */
    position: absolute;
    width: 220px;
    height: 22px;
    top: 180px;
    left: 10px;
    line-height: 20px;


    /* Body - Bold 16(13.3) */
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    /* or 83% */

    /* Gray 700 */
    color: #757575;


}

.attraction-desktop .traffic {
    /* 忠孝復興 */
    position: absolute;
    width: 100px;
    height: 20px;
    left: 10px;
    top: 225px;

    /* Body - Reg 16(13.3) */
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 13px;
    vertical-align: middle;
    /* or 83% */
    display: inline-block;
    align-items: center;

    /* Gray 700 */
    color: #757575;
    /* border:1px solid red; */


}

.attraction-desktop .cat {
    /* 公共藝術 */
    position: absolute;
    width: 100px;
    height: 20px;
    left: 120px;
    top: 225px;
    text-align: end;



    /* Body - Reg 16(13.3) */
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 13px;
    /* or 83% */
    display: inline-block;

    /* Gray 700 */
    color: #757575;


}

.attraction-desktop img {
    /* img */
    position: absolute;
    border-radius: 5px;
    width: 100%;
    height: 170px;
    left: 0px;
    top: 0px;
    background: #C4C4C4;

}

/* 圖片資料 */
.attractions {
    width: 100%;
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;


}

.attraction-desktop {

    flex-wrap: wrap;
    width: 240px;
    height: 250px;
    margin: 15px 10px;
    position: relative;
    display: flex;
    justify-content: space-between;
    border: 1px solid red;

    /* White */
    background: #FFFFFF;
    border-radius: 5px;
    /* Gray 300 */

    border: 1px solid #E8E8E8;

}

.attractions-group {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}



@media screen and (min-width:1200px) {


    .main {
        position: relative;
        width: 1200px;
        margin: auto;
        height: 100%;
        display: flex;
        justify-content: space-between;

    }


    .attractions-group {
        width: 1300px;


    }

    .welcome1 {
        /* display: none; */
        width: 550px;
        position: absolute;
        right: 3px;
        top: 9px;

    }

}

/* ===================================== */
/* 手機裝置尺寸 */
@media screen and (min-width:360px) and (max-width:1200px) {
    .main {
        position: relative;
        margin: auto;
        height: 100%;
        display: flex;

    }

    .welcome1 {
        /* display: none; */

        width: 340px;
        position: absolute;
        right: -180px;
        top: 113px;

    }


    .attraction-desktop.text {
        height: 100px;

    }

    .attraction-desktop img {
        margin: auto;

    }






}
