
body {
    margin: 0px;
    border: 0px;
}


/* 導覽列 */
.nav {
    position: absolute;
    display: flex;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 54px;

    /* White */
    background: #FFFFFF;

}

.frame2 {
    /* Frame 2 */
    /* Auto Layout */
    flex-wrap: wrap;
    position: absolute;
    width: 175px;
    height: 34px;
    right: 0px;
    top: 10px;
    display: flex;
    align-items: center;
}

.frame1 {
    /* Frame 1 */

    /* Auto Layout */
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    margin-right: 10px;

    position: static;
    width: 175px;
    height: 34px;
    left: 0px;
    top: 0px;


}

.frame1 a {
    /* Body - Reg 16(13.3) */
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 13px;
    /* identical to box height, or 83% */
    display: flex;
    align-items: center;
    margin-left: 10px;
    padding: 3px;
    text-decoration: none;

    /* Gray 800 */
    color: #666666;

}

.div .text {
    /* 台北一日遊 */

    position: absolute;
    width: 150px;
    height: 34px;
    left: 10px;
    top: 10px;

    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 34px;
    /* identical to box height, or 113% */

    /* Cyan 800 */
    color: #448899;

}


/* 標題 */
.slogan {
    /* slogan */

    /* Auto Layout */

    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 320px;
    height: 50px;
    margin: 65px auto 0px;

}

.slogan .div {
    /* div */
    width: 320px;
    height: 78px;
    position: relative;
    top: 65px;



    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: auto;



}

.search-desktop {
    position: relative;
    top: 25px;
    width: 322px;
    height: 46px;
    border: 2px solid #448899;
    border-radius: 5px;
    background-color: white;
    display: inline-flex;



}

.search-desktop input {
    /* White */
    background: #FFFFFF;
    width: 322px;
    height: 40px;
    border: none;
    outline: none;


}

button {
    /* btn */
    width: 60px;
    height: 48px;
    position: absolute;
    right: -1px;
    top: 0px;
    z-index: 0;
    background: #448899;
    border: none;
    border-radius: 0 2px 2px 0;
}
.input:-internal-autofill-selected{
    background-color: #fff;
}




.input-text {
    /* 輸入景點名稱查詢 */
    position: absolute;
    width: 200px;
    height: 16px;
    left: 15px;
    top: 15px;

    /* Body - Bold 16(13.3) */
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 13px;
    /* or 83% */
    display: flex;
    align-items: center;

    /* Gray 700 */
    color: #757575;


}


button .icon {
    /* icon / search */
    width: 30px;
    height: 30px;
    position: absolute;
    top: 6px;
    left: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;



}

button .icon img {
    /* icon_search */
    z-index: 2;
    position: absolute;
    width: 30px;
    height: 30px;
    left: 0px;
    top: 0px;
    margin: auto;


}

.div-slogan {
    /* slogan */
    position: relative;
    width: 100%;
    height: 78px;
    left: 0px;
    top: 0px;


}

.div-slogan .text-1 {
    /* 輕鬆享受台北一日悠閒 */

    position: absolute;
    width: 100%;
    height: 41px;
    left: 0px;
    top: 0px;

    /* Header 1 - Bold 28(24) */
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 24px;
    /* or 86% */
    display: flex;
    align-items: center;

    /* Gray 50 */
    color: #F8F8F8;

    /* Text Shadow */
    text-shadow: 0px 0px 30px #AABBCC;

}

.div-slogan .text-2 {
    /* 探索每個角落，體驗城市的深度旅遊行程 */

    position: absolute;
    width: 100%;
    height: 22px;
    left: 0px;
    top: 56px;

    /* Body - Reg 16(13.3) */
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 13px;
    /* or 83% */
    display: flex;
    align-items: center;

    /* Gray 50 */
    color: #F8F8F8;


}

/* 圖幅框 */
.hero-section {
    /* Hero section | Desktop */
    /* Auto Layout */

    position: absolute;
    top: 54px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    z-index: -1;

    width: 100%;
    height: 280px;
    /* Light | Cyan Gradient (135deg) */
    background: linear-gradient(135deg, #AADDEE 0%, #66AABB 100%);
}

.welcome1 {
    /* welcome 1 */
    position: relative;
    width: 276px;
    height: 148px;
    left: 0px;
    top: 132px;

    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
}

/* 頁尾 */
.footer {
    /* Auto Layout */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 104px;
    position: relative;
    width: 100%;



    /* Gray 700 */
    background: #757575;
}


.footer div .text {
    /* Body - Bold 16(13.3) */
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 13px;
    /* identical to box height, or 83% */
    display: flex;
    align-items: center;
    /* White */
    color: #FFFFFF;
}




@media screen and (min-width:1200px) {



    /* 圖片資料 */
    .attractions {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 400px;
        font-size: 40px;
        line-height: 40px;


    }

    .attractions-group {
        width: 80%;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 200px auto 104px;



    }



    .attraction-desktop {
        width: 270px;
        height: 242px;
        margin-top: 100px;




        /* White */
        background: #FFFFFF;
        border-radius: 5px;
        /* Gray 300 */

        border: 1px solid #E8E8E8;
        box-sizing: border-box;
        border-radius: 5px;
    }


    .attraction-desktop .title {

        /* 平安鐘 */
        position: absolute;
        width: 250px;
        height: 22px;
        top: 173px;
        left: 10px;


        /* Body - Bold 16(13.3) */
        font-family: Noto Sans TC;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        /* or 83% */

        /* Gray 700 */
        color: #757575;


    }




    .attraction-desktop .traffic {
        /* 忠孝復興 */
        position: absolute;
        width: 125px;
        height: 20px;
        left: 10px;
        top: 210px;

        /* Body - Reg 16(13.3) */
        font-family: Noto Sans TC;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 13px;
        vertical-align: middle;
        /* or 83% */
        display: inline-block;
        align-items: center;

        /* Gray 700 */
        color: #757575;


    }

    .attraction-desktop .cat {
        /* 公共藝術 */
        position: absolute;
        width: 125px;
        height: 20px;
        left: 135px;
        top: 210px;
        vertical-align: middle;
        text-align: end;

        /* Body - Reg 16(13.3) */
        font-family: Noto Sans TC;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 13px;
        /* or 83% */
        display: inline-block;
        align-items: center;

        /* Gray 700 */
        color: #757575;

    }

    .attraction-desktop img {
        /* img */
        position: absolute;
        width: 90%;
        left: 0px;
        top: 0px;
        background: #C4C4C4;

    }






}

/* ===================================== */
/* 手機裝置尺寸 */
@media screen and (min-width:360px) {


    /* 圖片資料 */
    .attractions {
        width: 100%;
        margin: 300px auto;
        /* height: 100%; */
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 40px;
        line-height: 40px;


    }

    .attractions-group {
        margin: 10px;
        width: 100%;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto 104px;
        border:1px solid red;

    }

    .attraction-desktop {

        flex-wrap: wrap;
        width: 322px;
        height: 280px;
        margin: 15px;
        position: relative;


        /* White */
        background: #FFFFFF;
        border-radius: 5px;
        /* Gray 300 */

        border: 1px solid #E8E8E8;
        box-sizing: border-box;
        border-radius: 5px;
    }


    .attraction-desktop .title {

        /* 平安鐘 */
        position: absolute;
        width: 250px;
        height: 22px;
        top: 210px;
        left: 10px;


        /* Body - Bold 16(13.3) */
        font-family: Noto Sans TC;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        /* or 83% */

        /* Gray 700 */
        color: #757575;


    }

    .attraction-desktop .traffic {
        /* 忠孝復興 */
        position: absolute;
        width: 125px;
        height: 20px;
        left: 10px;
        top: 247px;

        /* Body - Reg 16(13.3) */
        font-family: Noto Sans TC;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 13px;
        vertical-align: middle;
        /* or 83% */
        display: inline-block;
        align-items: center;

        /* Gray 700 */
        color: #757575;


    }

    .attraction-desktop .cat {
        /* 公共藝術 */
        position: absolute;
        width: 125px;
        height: 20px;
        left: 187px;
        top: 247px;
        vertical-align: middle;
        text-align: end;

        /* Body - Reg 16(13.3) */
        font-family: Noto Sans TC;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 13px;
        /* or 83% */
        display: inline-block;
        align-items: center;

        /* Gray 700 */
        color: #757575;


    }

    .attraction-desktop img {
        /* img */

        position: absolute;
        width: 100%;
        height: 200px;
        left: 1px;
        top: 1px;
        background: #C4C4C4;
    }


}
