<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attraction</title>
    <link rel="stylesheet" href="../static/css/attraction.css">
</head>

<body>
    <div class="load-layer" id="load"></div>
    <!-- 會員登入 -->
    <div class="loginPage" id="loginPage">
        <div class="bg-loginPage" id="login-bgPage">
            <div class="loginPage-frame" id="loginPage-frame">
                <div class="bar"></div>
                <div class="header">
                    <div class="header-text">登入會員帳號</div>
                    <img class="close" id="close-login" src="{{url_for('static', filename='css/icon_close.png')}}"
                        alt="">
                </div>

                <form action="/api/user" method="POST">
                    <!-- 信箱 -->
                    <div class="div-email">
                        <input class="email" type="email" id="signin-email" name="signin-email" placeholder="輸入電子信箱"
                            required>
                    </div>

                    <!-- 密碼 -->
                    <div class="div-psd">
                        <input class="psd" type="password" id="signin-psd" name="signin-password" placeholder="輸入密碼"
                            required>
                    </div>
                </form>

                <div class="div-btn-login">
                    <button class="btn-login" id="signin-btn">登入帳戶</button>
                </div>
                <div class="signin-msg" id="signin-msg"></div>
                <div class="msg" id="msg-signup">還沒有帳戶？點此註冊</div>
            </div>
        </div>

    </div>
    <!-- 會員登入 -->

    <!-- 會員註冊 -->
    <div class="signupPage" id="signupPage">
        <div class="bg-loginPage" id="signup-bgPage">
            <div class="signupPage-frame" id="signupPage-frame">
                <div class="bar"></div>
                <div class="header">
                    <div class="header-text">註冊會員帳號</div>
                    <img class="close" id="close-signup" src="{{url_for('static', filename='css/icon_close.png')}}"
                        alt="">
                </div>

                <form action="/api/user" method="POST">
                    <!-- 姓名 -->
                    <div class="div-username">
                        <input class="username" type="text" id="signup-username" name="username" placeholder="輸入姓名"
                            required>
                    </div>
                    <!-- 信箱 -->
                    <div class="div-email">
                        <input class="email" type="email" id="signup-email" name="email" placeholder="輸入電子信箱" required>
                    </div>
                    <!-- 密碼 -->
                    <div class="div-psd">
                        <input class="psd" type="password" id="signup-psd" name="password" placeholder="輸入密碼" required>
                    </div>
                    <div class="div-btn-login">
                        <button class="btn-login" id="signup-btn">註冊新帳戶</button>
                    </div>
                    <div class="signup-msg" id="signup-msg"></div>
                    <div class="msg" id="msg-login">已經有帳戶了？點此登入</div>
                </form>
            </div>
        </div>

    </div>
    <!-- 會員註冊 -->



    <div class="nav">
        <div class="div">
            <div class="text">
                <a href="/" class="title">台北一日遊</a>
                <div class="frame2">
                    <div>
                        <a href="#" id="booking">預定行程</a>
                    </div>
                    <div class="btn-nav" id="loginId">
                        <div><a href="#" id="logintext">登入/註冊</a></div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="section">

        <div class="pic">
            <div class="pic-frame">
                <div class="btn-arrow">
                    <img class="btn-left" id="btn-left" src="{{url_for('static', filename='css/btn_leftArrow.png')}}"
                        alt="arrow">
                    <img class="btn-right" id="btn-right" src="{{url_for('static', filename='css/btn_rightArrow.png')}}"
                        alt="arrow">
                </div>
                <img class="attracion-pic" id="attracion-pic" src="#" alt="pic">

                <div class="btn-circle" id="btn-circle">
                </div>
            </div>

        </div>

        <div class="profile">
            <div class="profile-frame">
                <h2 class="profile-title" id="profile-title"></h2>
                <div class="profile-content" id="profile-content"></div>
            </div>
            <div class="booking">
                <div class="booking-frame">
                    <h2 class="booking-title">訂購導覽行程</h2>
                    <div class="content">以此景點為中心的一日行程，帶您探索城市角落故事</div>
                    <div class="field">
                        <h2 class="field-date">選擇日期：
                            <span>
                                <input class="date" type="date" id="date" placeholder="Date"></input>
                            </span>
                        </h2>
                        <h2 class="field-time">選擇時間：
                            <span class="radio">
                                <input type="radio" id="morning" name="notaswitch-two" value="新台幣 2000 元"
                                    onclick="radioText(this);" checked>
                                <label for="morning" class="content"><span><span></span></span>上半天</label>
                            </span>
                            <span class="radio">
                                <input type="radio" id="afternoon" name="notaswitch-two" value="新台幣 2500 元"
                                    onclick="radioText(this);">
                                <label for="afternoon" class="content"><span><span></span></span>下半天</label>
                            </span>
                        </h2>
                        <h2 class="field-price">導覽費用：
                            <span class="content" id="field-price"></span>

                        </h2>
                        <button type="button" id="start-booking">
                            <div class="btn-text">開始預訂行程</div>
                        </button>
                        <div class="msg" id="msg"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <hr class="hr-2" />

    <div class="info">
        <p class="info-content" id="info-content"></p>
        <div class="ads">
            <h2 class="ads-title">景點地址：</h2>
            <p class="ads-content" id="ads-content"></p>
        </div>
        <div class="trf">
            <h2 class="trf-title">交通方式：</h2>
            <p class="trf-content" id="trf-content"></p>
        </div>
    </div>
    <footer class="footer">
        <div class="text">
            COPYRIGHT © 2021 台北一日遊
        </div>
    </footer>
</body>

<script src="../static/js/attraction.js"></script>


</html>